@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: local("Gilroy-UltraLight"), url("../fonts/Gilroy/Gilroy-UltraLight.otf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: local("Gilroy-Extrabold"), url("../fonts/Gilroy/Gilroy-Extrabold.otf") format("truetype");
}
