$white: #fff;
$black: #000;
$nightRider: #303030;
$thunder: #3d2c3a;
$slategray: #7a869a;
$abbey: #ccc;
$bizarre: #ead9ce;
$vista-white: #fcf8f7;
$fantasy: #efe6e0;
$powder: #ede0d7;
$downy: #5dcea7;
$viking: #5BDEB0;
$denim: #0a67b3;
$iron: #DFE1E5;
$salmon: #FE8772;
$gold: #FFCD00;
$lightSalmon: #FFA176;
$dustyGray: #979797;

$color-link-default: $denim;
$color-link-visited: $denim;

$color-body: $white;

$error: #fa6400;
